@page { margin: 9mm 0 0 0; }

body {
  -webkit-print-color-adjust: exact;
}

@font-face {
  font-family: "Copperplate Gothic Bold CE";
  src:
    url("http://localhost:8080/fonts/CopperplateGothicBoldCE-Regular.woff2") format("woff2"),
    url("http://localhost:8080/fonts/CopperplateGothicBoldCE-Regular.woff") format("woff"),
    url("http://localhost:8080/fonts/CopperplateGothicBoldCE-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pica";
  src:
    url("http://localhost:8080/fonts/IMFellDWPica-Regular.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
  font-family: Arial;
}

* {
  background-repeat: no-repeat;
}

.cards {
  text-align: center;
}

.card {
  display: inline-block;
  overflow: hidden;
  width: 44.0mm;
  height: 64.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
  background-size: 100% 100%;
  background-position: center center;
  font-size: 5mm;
  background-size: cover;
  border-radius: 4mm;
  overflow: visible;
  vertical-align: bottom;
}

.card::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background: black;
  height: 100%;
  width: 100%;
}

.card.balance { background-image: url(http://localhost:8080/assets/sloupy.png); }
.card.progress { background-image: url(http://localhost:8080/assets/kolecka.png); }

.icon-type, .icon-affiliation { height: 9mm; width: 9mm; position: absolute; background-size: cover; top: 2mm; z-index: -1; }
.icon-type { left: 1.5mm; }
.icon-affiliation { top: 1.7mm; right: 1.2mm; }
.icon-type.trooper { background-image: url(http://localhost:8080/icons/sword.png); }
.icon-affiliation.balance { top: 2.2mm; right: 1.8mm; height: 8mm; width: 8mm; background-image: url(http://localhost:8080/icons/balance.png); }
.icon-affiliation.progress { top: 2.7mm; background-image: url(http://localhost:8080/icons/progress.png); }

.title {
  height: 1.1cm;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Copperplate Gothic Bold CE";
  position: absolute;
  top: 1mm;
  left: 0;
  width: 100%;
  color: black;
  z-index: 3;
  font-size: 2.8mm;
}

.title.title-small { font-size: 2.6mm; }
.title div { max-width: 23mm; }
.balance .title div { position: relative; left: 0.4mm; }

.image {
  z-index: -1;
  width: 40mm;
  height: 31mm;
  left: 2mm;
  top: 11mm;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.text {
  position: absolute;
  top: 42mm;
  width: 100%;
  display: flex;
  height: 19mm;
  font-size: 3mm;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  font-family: "Pica";
  z-index: 2;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.text__icon { filter: saturate(0) brightness(80%) contrast(2000%); }
.text__icon.🌕 { text-shadow: 0 0.3mm black; }
.text__action { font-size: 120%; position: relative; top: 0.15em; padding: 0 0.1em; color: white; line-height: 0.5; }
.text__action + .text__action { padding-left: 0; }
.text__action::before { display: block; content: '@'; position: absolute; -webkit-text-stroke: 0.5mm black; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1; }
/* .text-long { font-size: 2.8mm; } */
.text div { width: 32mm;}
.text .flavor { font-style: italic; font-size: 2.5mm; font-family: "Adobe Garamond Pro"; }

.attributes {
  position: absolute;
  width: 9mm;
  top: 39mm;
  font-size: 4mm;
  font-weight: bold;
  background-size: cover;
  height: 23mm;
  box-sizing: border-box;
  padding-top: 2.5mm;
  background-position: right center;
  z-index: 2;
}

.balance .attributes { background-image: url(http://localhost:8080/assets/attributes-mramor.png); }
.progress .attributes { background-image: url(http://localhost:8080/assets/attributes-metal.png); }

.attributes.shadow {
  box-shadow: -0.5mm 0 2mm black, 0mm -1mm 2mm black;
  top: 41mm;
  border-radius: 4mm;
  z-index: 1;
  width: 6.4mm;
  height: 20mm;
  left: 2mm;
}

.progress .attributes.shadow { box-shadow: 0.5mm 0 2mm black, 0mm -1mm 2mm black; }

.attribute { position: relative; padding-left: 3.2mm; letter-spacing: -0.3mm; }

.attribute::before {
  display:block;
  display: block;
  position: absolute;
  left: 0.5mm;
  filter: saturate(0) brightness(80%) contrast(2000%);
  font-size: 3mm;
  width: 4mm;
  text-align: center;
 }

.attribute.fight::before { content: '👊'; }
.attribute.shoot::before { content: '🎯'; }
.attribute.defense::before { content: '🛡️'; }
.attribute.value::before { content: '💎'; }

.attributes + .text { text-align: left; left: 10.2mm; width: 28mm; }
.attributes + .text div { width: 100%;}

.copyleft {
  position: absolute;
  bottom: 0.2mm;
  left: 50%;
  transform: translateX(-50%);
  color: lightgray;
  text-shadow: 0 0 0.2mm black, -0.1mm -0.1mm 0.01mm black;
  font-size: 1.4mm;
}

.progress .copyleft { text-shadow: 0 0 0.2mm black, -0.1mm -0.1mm 0.01mm black, 0 -0.2mm black; }
.copyleft span { font-variant: small-caps; }