
@page {
  margin: 0 0 0 0;
}

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

@media print {
  body {
    background: blue;
  }
}

#pageborder {
  width: 100%;
  height: calc(100% - 2cm);
  width: calc(100% - 2cm);
  background: white;
  position: fixed;
  top: 1cm;
  left: 1cm;
}

/* #pageborder {
  position:fixed;
  height: calc(100% - 1cm);
  width: calc(100% - 2cm);
  top: 0;
  left: 1cm;
  z-index: 1;
  background: white;
} */

@font-face {
  font-family: "FantaisieArtistique.otf";
  src: url("http://localhost:8080/font/FantaisieArtistique.ttf") format("truetype");
}

@font-face {
  font-family: "Sualtim";
  src: url("http://localhost:8080/font/Sualtim.otf") format("opentype");
}

@font-face {
  font-family: "Noto Emoji";
  src:
    url("http://localhost:8080/font/NotoEmoji-Light.svg") format("svg"),
    url("http://localhost:8080/font/NotoEmoji-Light.otf") format("opentype"),
    url("http://localhost:8080/font/NotoEmoji-Light.ttf") format("truetype");
}

* {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.cards {
  text-align: center;
}

.card {
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  width: 61.0mm;
  height: 112.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
  border-radius: 5mm;
}

@media print {
  .card:nth-child(12n+1),
  .card:nth-child(12n+2),
  .card:nth-child(12n+3),
  .card:nth-child(12n+4) {
    margin-top: 42mm;
  }
}

.card__edge {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1cm solid #02081c;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.card__frame {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  background-size: contain;
}

.card__frame--w { background-image: url(card_components/border_white.png); }
.card__frame--y { background-image: url(card_components/border_yellow.png); }
.card__frame--b { background-image: url(card_components/border_blue.png); }
.card__frame--n { background-image: url(card_components/border_black.png); }
.card__frame--g { background-image: url(card_components/border_green.png); }
.card__frame--o { background-image: url(card_components/border_brown.png); }
.card__frame--r { background-image: url(card_components/border_red.png); }
.card__frame--p { background-image: url(card_components/border_purple.png); }

.card__name {
  height: 22mm;
  width: 100%;
  font-size: 7mm;
  z-index: 5;
  background-image: url(card_components/title_bg.png);
  position: absolute;
  top: 5mm;
  font-family: FantaisieArtistique, Sualtim;
  background-size: contain;
  padding-top: 1.5mm;
  text-transform: uppercase;
}

.card__image {
  position: absolute;
  z-index: 2;
  width: 49mm;
  left: 6mm;
  top: 14mm;
}

.card__image img {
  width: 100%;
}

.card__image--no-text {
  width: 42mm;
  left: 9.5mm;
  top: 14mm;
}

.card__cost {
  position: absolute;
  top: 13.4mm;
  width: 3.1cm;
  text-align: center;
  z-index: 4;
  left: 1.5cm;
  line-height: 1;
}

.card__energy {
  display: inline-block;
  width: 8mm;
  height: 8mm;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 -1.15mm;
  position: relative;
}


.card__status {
  height: 18.9mm;
  width: 100%;
  font-size: 5mm;
  z-index: 5;
  background-image: url(card_components/status_bg.png);
  position: absolute;
  top: 67.85mm;
  font-family: FantaisieArtistique, Sualtim;
  background-size: contain;
  padding-top: 7.5mm;
  text-transform: capitalize;
}

.card__status--czech { text-transform: none; }

.card__status--no-text {
  top: 78.85mm;
  height: 30mm;
  padding-top: 8mm;
}

.card__status--bigger {
  padding-top: 9mm;
  background-image: url(card_components/status_bg_bigger.png);
}

.card__status--row2 {
  position: relative;
  top: -12mm;
}

.card__energy--shift1 { top: 0.5mm; }
.card__energy--shift2 { top: 1.5mm; }
.card__energy--shift3 { top: -3mm; z-index: -1;}
.card__energy--shift4 { top: -2.5mm; z-index: -1;}
.card__energy--shift5 { top: -1.5mm; z-index: -1;}

.card__text {
  height: 28.3mm;
  width: 52.5mm;
  font-size: 5mm;
  z-index: 4;
  background-image: url(card_components/text_bg.png);
  position: absolute;
  top: 80mm;
  left: 3.75mm;
  font-family: Sualtim;
  background-size: contain;
  padding: 7mm 3.5mm 3.5mm;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__text--with-power { padding-left: 11.1mm; }
.card__text--with-health { padding-right: 11.1mm; }

.card__text.card__text--with-power.card__text--with-health {
  width: 53mm;
}

.text__emoji {
  white-space: nowrap;
  font-family: "Noto Emoji";
  display: contents;
  line-height: 1mm;
  vertical-align: middle;
  display: inline-block;
}

.text__energy-wrap {
  white-space: nowrap;
}

.text__energy {
  height: 5mm;
  width: 5mm;
  vertical-align: middle;
  display: inline-block;
  line-height: 1mm;
  margin: -6mm 0 -5mm 0;
}

.card__power {
  height: 21.42mm;
  width: 14.65mm;
  z-index: 5;
  background-image: url(card_components/power_bg.png);
  position: absolute;
  bottom: 1.6mm;
  left: 0mm;
  background-size: contain;
  padding: 7mm 0 0 1mm;
  text-align: center;
  font-family: FantaisieArtistique;
  font-size: 10mm;
  line-height: 5mm;
}

.card__symbol {
  font-size: 4mm;
  font-family: 'Noto Emoji';
}

.card__health {
  height: 20.83mm;
  width: 13.8mm;
  z-index: 5;
  background-image: url(card_components/health_bg.png);
  position: absolute;
  bottom: 1.6mm;
  right: 0mm;
  background-size: contain;
  padding: 6.5mm 0 0 1mm;
  line-height: 1;
  text-align: center;
  font-family: FantaisieArtistique;
  font-size: 10mm;
  line-height: 5mm;
}

/* TEMP skip
.card:nth-child(-n+90) {
  display: none;
}
*/