body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

#pageborder {
  position:fixed;
  height: calc(100% - 1cm);
  width: calc(100% - 2cm);
  top: 0;
  left: 1cm;
  z-index: 0;
  background: white;
}

@font-face {
  font-family: "FantaisieArtistique.otf";
  src: url("http://localhost:8080/font/FantaisieArtistique.otf.otf") format("opentype");
}

@font-face {
  font-family: "Sualtim";
  src: url("http://localhost:8080/font/Sualtim.otf") format("opentype");
}

* {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.cards {
  text-align: center;
}

.card {
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  width: 61.0mm;
  height: 112.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
  border-radius: 5mm;
}

.card__edge {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1cm solid #02081c;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.card__frame {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  background-size: contain;
}

.card__frame--w {
  background-image: url(http://localhost:8080/card_components/border_white.png);
}

.card__name {
  height: 22mm;
  width: 100%;
  font-size: 7mm;
  z-index: 5;
  background-image: url(http://localhost:8080/card_components/title_bg.png);
  position: absolute;
  top: 5mm;
  font-family: FantaisieArtistique;
  background-size: contain;
  padding-top: 2mm;
  text-transform: uppercase;
}

.card__image {
  position: absolute;
  z-index: 2;
  width: 49mm;
  left: 6mm;
  top: 14mm;
}

.card__image img {
  width: 100%;
}

.card__cost {
  position: absolute;
  top: 13.4mm;
  width: 3.1cm;
  text-align: center;
  z-index: 4;
  left: 1.5cm;
  line-height: 1;
}

.card__energy {
  display: inline-block;
  width: 8mm;
  height: 8mm;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 -1.15mm;
  position: relative;
}

.card__energy--shift1 { top: 0.5mm; }
.card__energy--shift2 { top: 1.5mm; }
.card__energy--shift3 { top: -3mm; z-index: -1;}
.card__energy--shift4 { top: -2.5mm; z-index: -1;}
.card__energy--shift5 { top: -1.5mm; z-index: -1;}
