@page { margin: 9mm 0 0 0; background: #ddd; }

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0mm;
  font-family: Sualtim;
}

@font-face {
  font-family: "Sualtim";
  src: url("http://localhost:8080/font/Sualtim.otf") format("opentype");
}

* {
  background-repeat: no-repeat;
}

#pageborder {
  position:fixed;
  height: calc(100% - 1cm);
  width: calc(100% - 2cm);
  top: 0;
  left: 1cm;
  z-index: 0;
  background: white;
}

.cards {
  text-align: center;
  scale: 0.8775;
}

.card {
  display: inline-block;
  overflow: hidden;
  width: 55.84mm;
  height: 94.83mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
  background: white;
  font-size: 6mm;

}

.card .frame {
  background-size: cover;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card.item .frame { background-image: url('frames/item.png'); }
.card.event .frame { background-image: url('frames/event-middle.png'); }
.card.event.long-text .frame { background-image: url('frames/event-big.png'); }
.card.scroll .frame { background-image: url('frames/scroll.png'); }
.card.poison .frame { background-image: url('frames/poison.png'); }

.image {
  position: absolute;
  z-index: 1;
  height: 67mm;
  width: 46mm;
  top: 9mm;
  left: 50%;
  transform: translate(-50%, 0);
  background-size: cover;
  background-position: center;
}

.item .image {
  height: 73mm;
  top: 10mm;
}

.name {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 2.3mm;
  text-align: center;
  padding: 0px 16mm;
  box-sizing: border-box;
  font-size: 4mm;
  height: 8mm;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3mm;
}

path {
  fill: transparent;
}

text {
  fill: black;
}

.text {
  z-index: 3;
  position: absolute;
  font-size: 3.5mm;
  line-height: 1;
  width: 100%;
  box-sizing: border-box;
  top: 64mm;
  padding: 0 10mm;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22mm;
  font-family: "Berlin Sans FB CE";
}

.item .text {
  top: 71mm;
}

.long-text .text, .scroll .text {
  top: 61.5mm;
  padding: 0 6mm;
  height: 23mm;
  font-size: 3.4mm;
}

.longer-text .text {
  font-size: 3.2mm;

}
.ultra-long-text .text {
  font-size: 2.9mm;
}

.mega-fucking-long-text .text {
  top: 62.5mm;
  line-height: 2.7mm;
}

.text__icon {
  /* filter: saturate(0) brightness(90%) contrast(200%); */
  font-family: "Noto Emoji Light";
  font-size: 7mm;
}