body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

* {
  background-repeat: no-repeat;
}

.cards {
  text-align: center;
}

.card {
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  width: 64.0mm;
  height: 88.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
}

.card.animatron {
  width: 88mm;
  height: 118mm;
}

.type {
  display: none;
}

/************************************************************
 ***************** * * *    QUESTS    * * * *****************
 ************************************************************/


.card.quest {
  background: transparent url(http://localhost:8080/imgs/bg_power.jpg) center center;
  background-size: 100% 100%;
}

.card.quest.S { background-image: url(http://localhost:8080/imgs/bg_speed.jpg); }
.card.quest.I { background-image: url(http://localhost:8080/imgs/bg_iq.jpg); }

.quest .title {
    position: absolute;
    z-index: 2;
    top: 0mm;
    left: 50%;
    transform: translateX(-50%);
    font-family: "BadaBoom CE";
    font-size: 6mm;
    width: 56mm;
    padding: 2mm 4mm;
    line-height: 1;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12mm;
    letter-spacing: 0.08mm;
}

.quest .title-shadow {
  color: black;
  filter: blur(2px);
  z-index: 0;
}

.quest .illustration {
  width: 64mm;
  top: 15mm;
  position: absolute;
  left: 0;
  height: 48mm;
}

.quest .text {
    left: 4mm;
    bottom: 4mm;
    width: 56mm;
    background: transparent url(http://localhost:8080/imgs/background-quest-text.png) center center no-repeat;
    background-size: 100% 100%;
    height: 27mm;
}

.quest .test {
  line-height: 1;
}

.white-shadow {
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
  margin-top: -1mm;
}

.quest__success,
.quest__fail
 {
  background: transparent url(http://localhost:8080/imgs/quest-arrow-success.png) center center no-repeat;
  background-size: 100% 100%;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
  position: absolute;
  top: 1.5mm;
  left: 1mm;
  height: 11.5mm;
  width: 19mm;
  box-sizing: border-box;
  padding-top: 1mm;
  font-weight: normal;
  text-align: right;
  padding-right: 2mm;
}

.quest__fail {
  background-image: url(http://localhost:8080/imgs/quest-arrow-fail.png);
  left: auto;
  right: 1mm;
  text-align: left;
  padding-left: 1.1mm;
}

.quest__reward {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  font-family: 'Impact Condensed';
}

.quest__reputation {
  height: 14mm;
  width: 13mm;
  background: transparent url(http://localhost:8080/imgs/quest-medal.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  font-size: 7.5mm;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white;
  padding-right: 0.3mm;
}

.quest__reputation:only-child {
  margin-left: 1.3mm;
}

.quest__cards {
  height: 11mm;
  width: 13mm;
  background: transparent url(http://localhost:8080/imgs/quest-cards.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 2.45mm 4mm 0 0;
  font-size: 5mm;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}

.quest__cards:only-child {
  margin: 0 0 2mm 1mm;
}

.quest__reputation + .quest__cards {
  margin: 1mm 0 0 -1mm;
}

.quest__penalty {
  position: absolute;
  right: 0.4mm;
  bottom: 1mm;
  font-family: 'Impact Condensed';
  height: 14mm;
  width: 14mm;
  background: transparent url(http://localhost:8080/imgs/heart.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 2.3mm 1mm 0mm 0;
  font-size: 7mm;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}

/************************************************************
 ***************** * * *  ANIMATRONS  * * * *****************
 ************************************************************/

.animatron .title {
  top: -2px;
  font-size: 6mm;
  width: auto;
  padding: 3mm 10mm;
  background-size: 100% 100%;
  white-space: nowrap;
}

.animatron .illustration {
  height: 100%;
  width: auto;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
}

.animatron .bone1,
.animatron .bone2 {
  right: auto;
  left: 0;
  transform: rotate(180deg);
  top: 39mm
}

.animatron .bone2 {
  top: auto;
  bottom: 10mm;
}

.animatron .bone3 {
  top: 10mm
}

.animatron .bone4 {
  bottom: 39mm;
}

.animatron__cards {
  height: 22mm;
  width: 25mm;
  background: transparent url(http://localhost:8080/imgs/quest-cards.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 3.5mm 5mm 0 0;
  font-size: 12mm;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
  position: absolute;
  top: 80mm;
  left: 44mm;
  z-index: 4;
  font-family: 'Impact Condensed';
}

.animatron .attribute {
  position: absolute;
  top: 80mm;
  left: 20mm;
  z-index: 4;
  width: 20mm;
}

.animatron__reputation {
  height: 22mm;
  width: 19mm;
  background: transparent url(http://localhost:8080/imgs/quest-medal.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  font-size: 10.5mm;
  text-shadow: 0.5mm 0.5mm 2px black, -0.5mm 0.5mm 2px black, 0.5mm -0.5mm 2px black, -0.5mm -0.5mm 2px black;
  padding: 1mm 1.5mm 0 0;
  position: absolute;
  top: 82mm;
  left: 22mm;
  z-index: 4;
  font-family: 'Impact Condensed';
  color: red;
}

/* Fix last empty page */
.cards {
  margin-bottom: -10mm;
}

.cards {
  overflow: hidden;
}


/************************************************************
 ***************** * * *  BACK SIDES  * * * *****************
 ************************************************************/

.card.back-side {
  background: white url(http://localhost:8080/imgs/cmzc-logo.png) center center no-repeat;
  background-size: 3.5cm
}

.card.back-side:not(.quest) {
  transform: rotate(180deg);
}

.card.quest.card.back-side {
  background-size: 4.5cm;
}

.card.back-side.ruka {
  background-image: url(http://localhost:8080/imgs/background-ruka.png);
}

.card.back-side.noha {
  background-image: url(http://localhost:8080/imgs/background-noha.png);
}