@page { margin: 9mm 0 0 0; }

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

* {
  background-repeat: no-repeat;
}

.cards {
  text-align: center;
}

.card {
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  width: 64.0mm;
  height: 88.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
}


.card.animatron {
  width: 88mm;
  height: 118mm;
}

.type, .text {
  display: none;
}


.title {
  position: absolute;
  z-index: 2;
  top: 0mm;
  left: 50%;
  transform: translateX(-50%);
  font-family: "BadaBoom CE";
  font-size: 6mm;
  width: 58mm;
  padding: 1mm 4mm;
  line-height: 1;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12mm;
  letter-spacing: 0.08mm;
}

.title-shadow {
  color: black;
  filter: blur(3px);
  z-index: 1;
}

/************************************************************
 ***************** * * *    QUESTS    * * * *****************
 ************************************************************/


.card.quest {
  background: transparent url(http://localhost:8080/imgs/bg_power.jpg) center center;
  background-size: calc(100% + 2mm) calc(100% + 1mm);
  border-width: 1mm; border-style: solid;
  border-color: #ad6a00;
  border-radius: 3mm;
}

.card.quest.S { background-image: url(http://localhost:8080/imgs/bg_speed.jpg); border-color: #398d1c; }
.card.quest.I { background-image: url(http://localhost:8080/imgs/bg_iq.jpg); border-color: #0025a8; }

.quest .title { font-size: 9mm; }
.quest .title-long { font-size: 6mm; }

.quest__illustration {
  width: 62mm;
  height: 50mm;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 14mm;
  border: 1px solid black;
}

.quest__illustration::before {
  content: ' ';
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 0%, transparent 75%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  left: 0;
}

.quest .text {
  left: 4mm;
  bottom: 4mm;
  width: 56mm;
  background: transparent url(http://localhost:8080/imgs/background-quest-text.png) center center no-repeat;
  background-size: 100% 100%;
  height: 27mm;
}

.quest .test {
  position: absolute;
  top: 54.2mm;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 20mm;
}

.quest__reward {
    position: absolute;
    display: flex;
    left: 1mm;
    bottom: 1mm;
    font-family: 'Impact Condensed';
    width: 30mm;
    height: 15mm;
    align-items: center;
    justify-content: center;
}

.quest__reputation {
  height: 14mm;
  width: 14mm;
  background: transparent url(http://localhost:8080/imgs/quest-medal.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  font-size: 7.5mm;
  padding: 1mm 0 0 1mm;
  margin-top: 1mm;
}

.quest__reputation:only-child {
  position: relative;
  left: -2mm;
}

.quest__reputation span { position: relative; z-index: 1; }
.quest__reputation span::before { position: absolute; z-index: -1; color: white; filter: blur(1px); }
.quest__reputation span.val1::before { content: '1'; }
.quest__reputation span.val2::before { content: '2'; }
.quest__reputation span.val3::before { content: '3'; }

.quest__reputation.v1 { padding-left: 0.5mm; }

.quest__cards {
  height: 11mm;
  width: 13mm;
  background: transparent url(http://localhost:8080/imgs/quest-cards.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 2.45mm 4mm 0 0;
  font-size: 5mm;
}

.quest__cards span { position: relative; z-index: 1; }
.quest__cards span::before { position: absolute; z-index: -1; color: white; filter: blur(1px); }
.quest__cards span.val1::before { content: '+1'; }
.quest__cards span.val2::before { content: '+2'; }
.quest__cards span.val3::before { content: '+3'; }

.quest__penalty {
 position: absolute;
  right: 1mm;
  bottom: 1mm;
  font-family: 'Impact Condensed';
  width: 30mm;
  height: 15mm;
  background: transparent url(http://localhost:8080/imgs/quest-heart.png) center center no-repeat;
  background-size: 12mm;
  box-sizing: border-box;
  font-size: 7mm;
  line-height: 15mm;
}

.quest__penalty span { position: relative; z-index: 1; }
.quest__penalty span::before { position: absolute; z-index: -1; color: white; filter: blur(1px); }
.quest__penalty span.val1::before { content: '-1'; }
.quest__penalty span.val2::before { content: '-2'; }
.quest__penalty span.val3::before { content: '-3'; }

.quest__label, .quest__description, .quest__success, .quest__fail {
  position: absolute;
  font-family: "Bebas Neue";
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  white-space: nowrap;
}

.quest__label { top: 55mm; left: 4mm; font-size: 9mm; color: white; }
.quest__description { top: 58.5mm; font-size: 20px; color: #ddd; }
.P .quest__description { left: 41mm; }
.S .quest__description { left: 41mm; }
.I .quest__description { left: 41mm; }
.quest__success, .quest__fail { top: 64.3mm; font-size: 22px; }
.quest__success { left: 7mm; color: #fcee28; }
.quest__fail { left: 41mm; color: #b70000; }

/************************************************************
 ***************** * * *  ANIMATRONS  * * * *****************
 ************************************************************/

.animatron .title {
  top: 2mm;
  font-size: 12mm;
  width: auto;
  padding: 3mm 10mm;
  background-size: 100% 100%;
  white-space: nowrap;
}

.animatron .illustration {
  height: 100%;
  width: auto;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

.joint { position: absolute; z-index: 4; height: 1.5cm; right: 0; }

.animatron .bone1,
.animatron .bone2 {
  right: auto;
  left: 0;
  transform: rotate(180deg);
  top: 39mm
}
.animatron .bone2 { top: auto; bottom: 10mm; }
.animatron .bone3 { top: 10mm; }
.animatron .bone4 { bottom: 39mm; }

.animatron__cards {
  height: 22mm;
  width: 25mm;
  background: transparent url(http://localhost:8080/imgs/quest-cards.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 3.5mm 5mm 0 0;
  font-size: 12mm;
  position: absolute;
  top: 89mm;
  left: 44mm;
  z-index: 4;
  font-family: 'Impact Condensed';
}

.animatron .attribute {
  position: absolute;
  top: 90mm;
  left: 20mm;
  z-index: 4;
  width: 20mm;
}

.animatron__reputation {
  height: 22mm;
  width: 22mm;
  background: transparent url(http://localhost:8080/imgs/quest-medal.png) center center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  font-size: 10.5mm;
  padding: 2.5mm 0 0 0;
  position: absolute;
  top: 91mm;
  left: 21mm;
  z-index: 4;
  font-family: 'Impact Condensed';
  color: red;
}

.animatron__reputation span { position: relative; z-index: 1; }
.animatron__reputation span::before { position: absolute; z-index: -1; color: black; filter: blur(1px); content: '-2'; }

/* Fix last empty page */
.cards {
  margin-bottom: -10mm;
}

.cards {
  overflow: hidden;
}


/************************************************************
 ***************** * * *  BACK SIDES  * * * *****************
 ************************************************************/

 .background {
  background: white url(http://localhost:8080/imgs/cmzc-logo.png) center center no-repeat;
  background-size: 4.5cm;
}

.background:nth-child(n+91) {
  display: none;
}