@page {
  margin: 9mm 0 0 0;
}

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
}

.cards {
  text-align: center;
  width: auto;
  margin: 0 auto;
  font-size: 0;
}

.card {
  display: inline-block;
  width: 6cm;
  height: 11.3cm;
  border-radius: 7mm;
  border: 3mm solid black;
  position: relative;
  background: transparent top left no-repeat;
  background-size: 61mm 106%;
}

.card::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3mm;
  left: -3mm;
  border: 3mm solid black;
  border-radius: 4mm;
  content: ' ';
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4mm;
  background-size: 63mm;
}
.north .background { background-image: url('http://localhost:8080/img/bg-blue.png'); }
.nilfgaard .background { background-image: url('http://localhost:8080/img/bg-black.png'); }
.scoiatael .background { background-image: url('http://localhost:8080/img/bg-green.png'); }
.monsters .background { background-image: url('http://localhost:8080/img/bg-red.png'); }

/* separator for better cutting */
.card::after {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: -3.8mm;
  border-right: 1mm solid rgba(255, 255, 255, 0.1);
  content: ' ';
}

.power {
  font-family: "Linux Libertine G";
  font-weight: bold;
  position: absolute;
  top: 0mm;
  left: 0mm;
  width: 18.5mm;
  height: 18.5mm;
  font-size: 12mm;
  line-height: 18mm;
}

.power.decoy { background: transparent url('http://localhost:8080/img/icon-decoy.png') center / 1.5cm no-repeat; }
.power.skull { background: transparent url('http://localhost:8080/img/icon-skull.png') center / 1.5cm no-repeat; }
.power.sun { background: transparent url('http://localhost:8080/img/icon-sun.png') center / 1.5cm no-repeat; }
.power.rain { background: transparent url('http://localhost:8080/img/icon-rain.png') center / 1.5cm no-repeat; }
.power.freeze { background: transparent url('http://localhost:8080/img/icon-freeze.png') center / 1.5cm no-repeat; }
.power.fog { background: transparent url('http://localhost:8080/img/icon-fog.png') center / 1.5cm no-repeat; }
.power.horn { background: transparent url('http://localhost:8080/img/icon-horn.png') center / 1.5cm no-repeat; }

.type, .effect {
  position: absolute;
  top: 31mm;
  left: 1.2mm;
  width: 15.5mm;
  height: 15.5mm;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent url('http://localhost:8080/img/circle-orange.png') center / contain no-repeat;
}
.effect {
  top: 52.5mm;
  left: 1.1mm;
  width: 14.5mm;
  height: 14.5mm;
  background: transparent url('http://localhost:8080/img/circle-white-silver.png') center / contain no-repeat;
}
.nilggaard .type { background-image: url('http://localhost:8080/img/circle-orange-gold.png'); }
.nilggaard .effect { background-image: url('http://localhost:8080/img/circle-white-gold.png'); }
.scoiatael .effect { background-image: url('http://localhost:8080/img/circle-white-bronze.png'); }
.type img, .effect img { height: 90%; width: 90%; }
.effect img { position: relative; left: 0.4mm; top: 0.3mm; }

.title {
  font-family: "Alegreya";
  font-weight: bold;
  position: absolute;
  top: 91mm;
  left: 14mm;
  width: 46mm;
  font-variant: small-caps;
  line-height: 5mm;
  font-size: 5.3mm;
  height: 10mm;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleSmall .title { font-size: 4.6mm; }

hr {
  position: absolute;
  top: 103mm;
  width: 41mm;
  left: 16mm;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: none;
  height: 0.5mm;
}


.flavor {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  position: absolute;
  top: 105mm;
  left: 14mm;
  width: 46mm;
  line-height: 3mm;
  font-size: 2.8mm;
  height: 7mm;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commander {
  background-size: 61mm;
}

.commander .background {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  background-size: 61mm;
  width: 100%;
  height: 30mm;
  border-radius: 0 0 7mm 7mm;
}

.commander.north .background { background-image: url('http://localhost:8080/img/bg-cmd-silver.png'); }

.commander .title, .commander .flavor, .commander .effect { left: 0; width: 60mm; }
.commander .title { top: 84mm; }

.commander .subtitle {
  font-weight: normal;
  font-size: 4mm;
  line-height: 2.8mm;
}

.commander .effect {
  font-family: "Adobe Garamond Pro";
  font-weight: bold;
  position: absolute;
  top: 96.5mm;
  line-height: 3mm;
  font-size: 2.8mm;
  height: 7mm;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.effect__icon {
  display: inline-block;
  height: 3mm;
  width: 3.5mm;
  vertical-align: bottom;
  background-size: 4.5mm 4.5mm;
  background-position: center center;
}
.effect__icon.catapult { background-image: url('http://localhost:8080/img/icon-catapult.png'); }
.effect__icon.horn { background-image: url('http://localhost:8080/img/icon-horn.png'); }
.effect__icon.freeze { background-image: url('http://localhost:8080/img/icon-freeze.png'); }
.effect__icon.rain { background-image: url('http://localhost:8080/img/icon-rain.png'); }
.effect__icon.fog { background-image: url('http://localhost:8080/img/icon-fog.png'); }


.commander hr {
  top: 95mm;
  width: 42mm;
  left: 9mm;
}

.commander hr.second {
  top: 104mm;
}

.hero {
  position: absolute;
  top: -1px;
  width: 6cm;
  height: 4cm;
  background-size: auto 100%;
  left: -1px;
  border-radius: 4mm;
}

.north .hero { background-image: url('http://localhost:8080/img/hero-silver.png'); }
.commander.north .hero { background-image: url('http://localhost:8080/img/commander-north.png'); }
