@page {
  margin: 9mm 0 0 0;
}

body {
  -webkit-print-color-adjust: exact;
}

@font-face {
  font-family: "Linux Libertine G";
  src: url("http://localhost:8080//fonts/LinLibertine_RB_G.ttf") format("truetype");
}

@font-face {
  font-family: "Alegreya SC";
  src: url("http://localhost:8080//fonts/Alegreya-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("http://localhost:8080//fonts/AGaramondPro-Italic.otf") format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
}

.cards {
  text-align: center;
  width: auto;
  margin: 0 auto;
  font-size: 0;
}

.card {
  display: inline-block;
  width: 6cm;
  height: 11.3cm;
  border-radius: 7mm;
  border: 3mm solid black;
  position: relative;
  background: transparent top left no-repeat;
  background-size: 60mm 106%;
  box-sizing: border-box;
  background-position: -0.5mm 0;
}

.card::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3mm;
  left: -3mm;
  border: 3mm solid black;
  border-radius: 4mm;
  content: ' ';
}

.background {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  border-radius: 4mm;
  background-size: 60mm;
  z-index: 0;
}
.north .background { background-image: url('http://localhost:8080/img/bg-blue.png'); }
.nilfgaard .background { background-image: url('http://localhost:8080/img/bg-black.png'); }
.scoiatael .background { background-image: url('http://localhost:8080/img/bg-green.png'); }
.monsters .background { background-image: url('http://localhost:8080/img/bg-red.png'); }

/* separator for better cutting */
.card::after {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: -3.8mm;
  border-right: 1mm solid rgba(255, 255, 255, 0.1);
  content: ' ';
}

.power {
  font-family: "Linux Libertine G";
  font-weight: bold;
  position: absolute;
  top: -0.5mm;
  left: -0.5mm;
  width: 17.5mm;
  height: 17.5mm;
  font-size: 11mm;
  line-height: 17.5mm;
  z-index: 2;
}

.hero ~ .power { color: white; box-shadow: none; }

.power.decoy { background: transparent url('http://localhost:8080/img/icon-decoy.png') center / 1.5cm no-repeat; }
.power.skull { background: transparent url('http://localhost:8080/img/icon-skull.png') center / 1.5cm no-repeat; }
.power.sun { background: transparent url('http://localhost:8080/img/icon-sun.png') center / 1.5cm no-repeat; }
.power.rain { background: transparent url('http://localhost:8080/img/icon-rain.png') center / 1.5cm no-repeat; }
.power.freeze { background: transparent url('http://localhost:8080/img/icon-freeze.png') center / 1.5cm no-repeat; }
.power.fog { background: transparent url('http://localhost:8080/img/icon-fog.png') center / 1.5cm no-repeat; }
.power.horn { background: transparent url('http://localhost:8080/img/icon-horn.png') center / 1.5cm no-repeat; }

.type, .effect {
  position: absolute;
  top: 29mm;
  left: 0.9mm;
  width: 15mm;
  height: 15mm;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background: transparent url('http://localhost:8080/img/circle-orange.png') center / contain no-repeat;
  box-shadow: 2px 2px 5px, -1px 0 2px;
  border-radius: 10mm;
}
.effect {
  top: 49.5mm;
  left: 0.9mm;
  width: 14mm;
  height: 14mm;
  background: transparent url('http://localhost:8080/img/circle-white-silver.png') center / contain no-repeat;
}
.nilggaard .type { background-image: url('http://localhost:8080/img/circle-orange-gold.png'); }
.nilggaard .effect { background-image: url('http://localhost:8080/img/circle-white-gold.png'); }
.scoiatael .effect { background-image: url('http://localhost:8080/img/circle-white-bronze.png'); }
.type img, .effect img { height: 90%; width: 90%; }
.effect img { position: relative; left: 0.4mm; top: 0.3mm; }

.effects2 .type { top: 25mm; }
.effects2 .effect { top: 45mm; }
.effects2 .effect + .effect { top: 65mm; }

.title {
  font-family: "Alegreya SC";
  font-weight: bold;
  position: absolute;
  top: 87mm;
  left: 13mm;
  width: 41mm;
  line-height: 5mm;
  font-size: 4.8mm;
  height: 9mm;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleSmall .title { font-size: 4.4mm; }

hr {
  position: absolute;
  top: 98mm;
  width: 36mm;
  left: 16mm;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: none;
  height: 0.5mm;
}


.flavor {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  position: absolute;
  top: 99.5mm;
  left: 13mm;
  width: 41mm;
  line-height: 3mm;
  font-size: 2.7mm;
  height: 7mm;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commander {
  background-size: 61mm;
}

.commander .background {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  background-size: 61mm;
  width: 100%;
  height: 30mm;
  border-radius: 0 0 3mm 3mm;
}

.commander.north .background { background-image: url('http://localhost:8080/img/bg-cmd-silver.png'); }
.commander.nilfgaard .background { background-image: url('http://localhost:8080/img/bg-cmd-gold.png'); }
.commander.scoiatael .background { background-image: url('http://localhost:8080/img/bg-cmd-copper.png'); }
.commander.monsters .background { background-image: url('http://localhost:8080/img/bg-cmd-silver.png'); }

.commander .title, .commander .flavor, .commander .effect { left: 0; width: 54mm; }
.commander .title { top: 78mm; }

.commander .subtitle {
  font-weight: normal;
  font-size: 3.5mm;
  line-height: 2.8mm;
  font-weight: normal;
}

.commander .effect {
  font-family: "Adobe Garamond Pro";
  font-weight: bold;
  position: absolute;
  top: 90mm;
  line-height: 3mm;
  font-size: 2.8mm;
  height: 7mm;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  box-shadow: none;
}

.effect__icon {
  display: inline-block;
  height: 3mm;
  width: 3.5mm;
  vertical-align: bottom;
  background-size: 4.5mm 4.5mm;
  background-position: center center;
}
.effect__icon.sword { background-image: url('http://localhost:8080/img/icon-sword.png'); }
.effect__icon.arrow { background-image: url('http://localhost:8080/img/icon-arrow.png'); }
.effect__icon.catapult { background-image: url('http://localhost:8080/img/icon-catapult.png'); }
.effect__icon.horn { background-image: url('http://localhost:8080/img/icon-horn.png'); }
.effect__icon.freeze { background-image: url('http://localhost:8080/img/icon-freeze.png'); }
.effect__icon.rain { background-image: url('http://localhost:8080/img/icon-rain.png'); }
.effect__icon.fog { background-image: url('http://localhost:8080/img/icon-fog.png'); }
.effect__icon.recycle { background-image: url('http://localhost:8080/img/icon-recycle.png'); }
.effect__icon.sun { background-image: url('http://localhost:8080/img/icon-sun.png'); }
.effect__icon.eye { background-image: url('http://localhost:8080/img/icon-eye.png'); }

.commander hr {
  top: 88mm;
  width: 37mm;
  left: 9mm;
}

.commander hr.second {
  top: 98mm;
}

.hero {
  position: absolute;
  top: -3mm;
  width: 6cm;
  height: 36mm;
  background-size: auto 100%;
  left: -3mm;
  border-radius: 7mm;
  z-index: 1;
  margin-top: 0mm;
  background-repeat: no-repeat;
}

.north .hero { background-image: url('http://localhost:8080/img/hero-silver.png'); }
.nilfgaard .hero { background-image: url('http://localhost:8080/img/hero-gold.png'); }
.scoiatael .hero { background-image: url('http://localhost:8080/img/hero-copper.png'); }
.monsters .hero { background-image: url('http://localhost:8080/img/hero-silver-red.png'); }
.commander.north .hero { background-image: url('http://localhost:8080/img/commander-north.png'); }
.commander.nilfgaard .hero { background-image: url('http://localhost:8080/img/commander-nilfgaard.png'); }
.commander.scoiatael .hero { background-image: url('http://localhost:8080/img/commander-scoiatael.png'); }
.commander.monsters .hero { background-image: url('http://localhost:8080/img/commander-monsters.png'); }

.heroLabel {
  z-index: 2;
  position: absolute;
  top: 79mm;
  left: 23mm;
  width: 21mm;
  height: 10mm;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: transparent none center 54%/ contain no-repeat;
  font-size: 2.2mm;
  font-family: "Alegreya";
  text-transform: uppercase;
  letter-spacing: 0.8mm;
}
.north .heroLabel { background-image: url('http://localhost:8080/img/heroLabel-silver.png'); }
.nilfgaard .heroLabel { background-image: url('http://localhost:8080/img/heroLabel-gold.png'); }
.scoiatael .heroLabel { background-image: url('http://localhost:8080/img/heroLabel-copper.png'); }
.monsters .heroLabel { background-image: url('http://localhost:8080/img/heroLabel-silver.png'); }