@page {
  margin: 9mm 0 0 0;
}

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

* {
  background-repeat: no-repeat;
}

.cards {
  text-align: center;
}

.card {
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  width: 64.0mm;
  height: 88.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
  /* border-radius: 3mm; */
  border: 1px solid black;
  font-family: cursive;
  padding: 2mm;
}

.card.small {
  width: 44.0mm;
  height: 64.0mm;
}

.title { font-size: 6mm; }
.text { font-size: 4mm; position: absolute; bottom: 2mm; width: calc(100% - 4mm); }
