@page { margin: 16.5mm 0 0 0; }

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
}

.cards {
  text-align: center;
  font-size: 0;
}

.card {
  display: inline-block;
  width: 64.0mm;
  height: 88.0mm;
  border: 0.2mm solid yellow;
  padding: 1cm;
  font-size: 5mm;
}

.card.bojovnik { border-color: red; }
.card.rostlina { border-color: green; }

.type { color: gray;}
.title { font-weight: bold; }
.text { font-style: italic;}
.image { height: 170px; }
