@page { margin: 9mm 0 0 0; }

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
  font-family: Arial;
}

* {
  background-repeat: no-repeat;
}

.cards {
  text-align: center;
}

.card {
  display: inline-block;
  overflow: hidden;
  width: 44.0mm;
  height: 64.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
  background-size: 100% 100%;
  background-position: center center;
  border: 0.5px dashed black;
  font-size: 5mm;
}

.title {
  text-transform: uppercase;
  height: 1.1cm;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.standard .type { background: #e5d7d3; }
.premium .type { background: #86cce6}
.deluxe .type { background: #ecff00; }
.ilus { height: 2cm; background-position: center center; background-size: 4cm; opacity: 0.3; }

.stat { text-align: left; margin-left: 4mm; font-size: 4.5mm; }

.policeboxes { position: absolute; bottom: 1mm; width: 100%; display: flex; justify-content: space-around; }
.nopolice { font-size: 20px; font-weight: bold; }
.policebox { height: 5mm; line-height: 5mm; width: 13mm; font-size: 0; }
.police-standard { background: #e5d7d3; }
.police-premium { background: #86cce6; }
.police-deluxe { background: #ecff00; }

.policehead { display: inline-block; height: 20px; width: 16px; background: transparent url(http://localhost:8080/img/policehead.png) center center no-repeat; background-size: contain; }

.mission { background: transparent url(http://localhost:8080/ilus/mission.png) center center no-repeat; background-size: contain; }
.mission .title { font-size: 30px; font-weight: bold; }
.mission .level { position: absolute; bottom: 0; font-size: 30px; font-weight: bold; text-align: center; width: 100%; }
.mission.m5000, .mission.m6000, .mission.m7000 { background-position: center 1cm; }

.reqs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 1cm;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.reqs4 { width: 80%; }
.req {
  width: 1cm;
  height: 1cm;
  border-radius: 0.5cm;
  background: transparent none center center no-repeat;
  background-size: 0.8cm;
  border: 0.5mm solid black;
  margin: 1mm;
}
.req.pistol    { background-color: #fff8c5; background-image: url(http://localhost:8080/img/pistol.png); }
.req.speed     { background-color: #b3ffb4; background-image: url(http://localhost:8080/img/tire.png); }
.req.police    { background-color: #adf6ff; background-image: url(http://localhost:8080/img/policehead.png); background-size: 0.66cm; }
.req.explosion { background-color: #ffc0c0; background-image: url(http://localhost:8080/img/explosion.png); }

/*
.background {
  background: white url(http://localhost:8080/imgs/cmzc-logo-upgrades.png) center center no-repeat;
  background-size: 3.5cm;
  transform: rotate(180deg);
}

.background:nth-child(n+145) {
  background-image: url(http://localhost:8080/imgs/cmzc-logo-voodoo.png);
}

.background:nth-child(n+289) {
  background: white url(http://localhost:8080/imgs/back-ruka.jpg) center center no-repeat;
  background-size: 3.5cm;
  transform: rotate(180deg);
}

.background:nth-child(n+327 ) {
  background: white url(http://localhost:8080/imgs/back-noha.jpg) center center no-repeat;
  background-size: 3.5cm;
  transform: rotate(180deg);
}
*/

.pagebreak { width: 100%; height: 0; page-break-after: always; display: block; float: none; }

.token { height: 20mm; width: 20mm; background: transparent none center center no-repeat; background-size: 1.5cm; }
.token.pistol    { background-color: #fff8c5; background-image: url(http://localhost:8080/img/pistol.png); }
.token.speed     { background-color: #b3ffb4; background-image: url(http://localhost:8080/img/tire.png); }
.token.police    { background-color: #adf6ff; background-image: url(http://localhost:8080/img/policehead.png); background-size: 1cm; }
.token.explosion { background-color: #ffc0c0; background-image: url(http://localhost:8080/img/explosion.png); }

.action .title { font-size: 30px; font-weight: bold; }
.action .ilus { opacity: 1; }
.action .text.go { font-size: 3.3mm; }
.action .text.steal { font-size: 3.8mm; }