@page { margin: 9mm 0 0 0; }

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
  font-family: Arial;
}

* {
  background-repeat: no-repeat;
}

.cards {
  text-align: center;
}

.card {
  display: inline-block;
  overflow: hidden;
  width: 44.0mm;
  height: 64.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
  background-size: 100% 100%;
  background-position: center center;
  background: black;
  font-size: 5mm;
  background: white;
  border-radius: 2mm;
  overflow: visible;
}

.card::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background: black;
  height: 100%;
  width: 100%;
}

.card.car .title {
  text-transform: uppercase;
  height: 1.2cm;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GTA2 Mission";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  z-index: 3;
}

.card.car .title.long { font-size: 4.5mm; }
.card.car .title.extralong { font-size: 3.8mm; }

.card.car .title.shadow {
  z-index: 2;
  color: white;
  filter: blur(1mm);
}

.card.car .level {
  text-transform: uppercase;
  height: 1.2cm;
  line-height: 1;
  text-align: center;
  justify-content: center;
  font-family: "GTA2 Mission";
  position: absolute;
  top: 9.5mm;
  left: 0;
  width: 100%;
  color: black;
  z-index: 3;
  font-size: 3.5mm;
}

.card.car .level.shadow {
  z-index: 2;
  color: white;
  filter: blur(1mm);
}

.card.car .frame {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;
  background: transparent url(http://localhost:8080/bg/standard.png) center center / contain no-repeat;
}
.card.car.premium .frame { background-image: url(http://localhost:8080/bg/premium.png); }
.card.car.deluxe .frame { background-image: url(http://localhost:8080/bg/deluxe.png); }

.ilus { height: 26mm; width: 36mm; position: absolute; z-index: 1; top: 9mm; left: 6mm; background-size: cover; background-position: center center; }
.logo { position: absolute; z-index: 3; top: 28mm; left: 11mm; height: 20mm; width: 20mm; }

.stat {
  position: absolute;
  color: white;
  font-size: 7mm;
  font-family: "GTA2 Mission";
  width: 5mm;
  text-align: center;
  z-index: 3;
}

.stat.acc { top: 43mm; left: 6mm; }
.stat.grip { top: 46mm; left: 19mm; color: black; }
.stat.grip.shadow { color: white; z-index: 2; filter: blur(1mm); }
.stat.max { top: 43.5mm; right: 7mm; }

.mission { background: transparent url(http://localhost:8080/ilus/mission.png) center center no-repeat; background-size: contain; }
.mission .title { font-size: 30px; font-weight: bold; }
.mission .level { position: absolute; bottom: 0; font-size: 30px; font-weight: bold; text-align: center; width: 100%; }
.mission.m5000, .mission.m6000, .mission.m7000 { background-position: center 1cm; }

.reqs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 1cm;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.reqs4 { width: 80%; }
.req {
  width: 1cm;
  height: 1cm;
  border-radius: 0.5cm;
  background: transparent none center center no-repeat;
  background-size: 0.8cm;
  border: 0.5mm solid black;
  margin: 1mm;
}
.req.pistol    { background-color: #fff8c5; background-image: url(http://localhost:8080/img/pistol.png); }
.req.speed     { background-color: #b3ffb4; background-image: url(http://localhost:8080/img/tire.png); }
.req.police    { background-color: #adf6ff; background-image: url(http://localhost:8080/img/policehead.png); background-size: 0.66cm; }
.req.explosion { background-color: #ffc0c0; background-image: url(http://localhost:8080/img/explosion.png); }


.pagebreak { width: 100%; height: 0; page-break-after: always; display: block; float: none; }

.token { height: 20mm; width: 20mm; background: transparent none center center no-repeat; background-size: 1.5cm; }
.token.pistol    { background-color: #fff8c5; background-image: url(http://localhost:8080/img/pistol.png); }
.token.speed     { background-color: #b3ffb4; background-image: url(http://localhost:8080/img/tire.png); }
.token.police    { background-color: #adf6ff; background-image: url(http://localhost:8080/img/policehead.png); background-size: 1cm; }
.token.explosion { background-color: #ffc0c0; background-image: url(http://localhost:8080/img/explosion.png); }

.action .title { font-size: 30px; font-weight: bold; }
.action .ilus { opacity: 1; }
.action .text.go { font-size: 3.3mm; }
.action .text.steal { font-size: 3.8mm; }