@page {
    size: A4 landscape;
    margin: 4.5mm;
}

body {
  -webkit-print-color-adjust: exact;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.cards {
  text-align: center;
}

.card {
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  width: 44.0mm;
  height: 67.0mm;
  box-sizing: border-box;
  page-break-inside: avoid;
  position: relative;
}

/* bg overlay */
.card:before {
  content: ' ';
  position: absolute;
  z-index: 1;
  background:  rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.card.voodoo:before {
  display: none;
}

.card-frame {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 2mm solid white;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
}

.type {
  display: none;
}

.card.bio {
  background: transparent url(http://localhost:8080/background-bio.png) center center;
  background-size: cover;
}

.card.tech {
  background: transparent url(http://localhost:8080/background-tech.png) center center;
  background-size: cover;
}

.card.basic {
  background: transparent url(http://localhost:8080/background-basic.png) center center;
  background-size: cover;
}

.card.voodoo {
  background: transparent url(http://localhost:8080/background-voodoo.png) center center;
  background-size: 100% 100%;
}

.card-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center center;
  background-size: 100% 100%;
}

.card.bio .card-icons {
  background-image: url(http://localhost:8080/icons-bio.png);
}


.card.tech .card-icons {
  background-image: url(http://localhost:8080/icons-tech.png);
}

.card-vertical .card-icons {
  height: 50%;
  background-position: center top;
  background-size: 100% 200%;
}

.title {
  position: absolute;
  z-index: 2;
  top: 2mm;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Krona One Regular";
  font-size: 2.6mm;
  background: transparent url(http://localhost:8080/background-title-top.png) center -2px no-repeat;
  background-size: contain;
  height: 7.5mm;
  width: 27mm;
  padding: 0.4mm 3mm;
  line-height: 7mm;
}

.voodoo .title {
  background: none;
  height: 11.5mm;
  width: 40mm;
  padding: 2.25mm 3mm 0 12mm;
  box-sizing: border-box;
}

.title span {
  line-height: 3.5mm;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -0.2mm;
}

.title-long span {
  line-height: 2.7mm;
}

.title-reversed {
  top: auto;
  bottom: 2mm;
  transform: translateX(-50%) rotate(-180deg);
  background-image: url(http://localhost:8080/background-title-bottom.png);
}

.joint { position: absolute; z-index: 4; height: 1.5cm; }
.joint.required { left: 0; }
.joint.provided { right: 0; }
.joint.single.bone { top: 1cm; }
.joint.single.hand,
.joint.single.leg { bottom: 1cm; }
.joint.first { top: 0; }
.joint.second { bottom: 0; }

.attributes, .lives, .rerolls {
  position: absolute;
  z-index: 2;
  bottom: 10mm;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  line-height: 0;
}

.lives {
  bottom: auto;
  top: 11mm;
}

.lives-down {
  top: auto;
  bottom: 11mm;
}

.tech.card-vertical .lives-down {
  bottom: 5mm;
}

.rerolls {
  bottom: auto;
  top: 10mm;
}

.tech.card-has-joints .rerolls {
  bottom: 0;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 10px;
  justify-content: center;
}

.attribute {
  width: 11mm;
  margin: 1mm;
}

.life {
  width: 10mm;
  margin: -1mm 0;
}

.rerolls .life {
  margin: 0.2mm 1mm;
}

.test, .reroll {
  width: 13mm;
  height: 13mm;
  display: inline-block;
  background-repeat: no-repeat;
}

.reroll {
  position: relative;
}

.reroll::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  content: ' ';
}

.reroll img {
  width: 100%;
}

.reroll-green::before { background-image: url(http://localhost:8080/reroll-green.png); }
.reroll-red::before { background-image: url(http://localhost:8080/reroll-red.png); }

.bio.card-vertical .attributes,
.bio.card-vertical .lives {
  position: static;
}

.bio.card-vertical .lives-and-attributes {
  position: absolute;
  z-index: 2;
  display: flex;
  top: 10mm;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bio.card-vertical .lives, .bio.card-vertical .attributes {
  flex: 0 1 0;
  display: flex;
}

.card-vertical .life, .card-vertical .attribute {
  margin: 1mm 0.5mm;
}

.card-vertical .rerolls .life {
  margin: 2mm 0;
}

.illustration {
  position: absolute;
  z-index: 1;
  width: 40mm;
  top: 50%;
  left: 2mm;
  transform: translateY(-50%);
}

.voodoo .illustration {
  top: 39%;
}

.text {
  position: absolute;
  z-index: 3;
  left: 3mm;
  bottom: 3mm;
  width: 38mm;
  background: transparent url(http://localhost:8080/background-text.png) center center no-repeat;
  background-size: 100% 100%;
  font-family: "Open Sans";
  padding: 1mm;
  box-sizing: border-box;
  font-size: 3mm;
  font-weight: bold;
}

.voodoo .text {
  bottom: 5mm;
  width: 38mm;
  background: none;
  padding: 1mm;
  height: 22mm;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4mm;
}

.voodoo .texts {
  flex-direction: column;
}

.voodoo .text-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.voodoo .text .emo {
  width: 12mm;
  margin: -0.5mm;
  background-position: center center;
  background-size: contain;
}

.voodoo .text .emo.dice {
  width: 9mm;
  margin: 0 1mm;
}

.voodoo .texts .emo.dice {
  margin: 0 0.2mm;
}

.voodoo .text.text-all .emo.dice {
  margin: 0 0.1mm;
}

.voodoo .text .emo.arrow {
  margin: -4.5mm;
  z-index: 1;
}

.group-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.group {
  display: flex;
}

.voodoo .text .group .emo {
    width: 9mm;
    margin: 0;
}

.emo-epic    { background-image: url(http://localhost:8080/emo-epic.png); }
.emo-tragic  { background-image: url(http://localhost:8080/emo-tragic.png); }
.emo-sad     { background-image: url(http://localhost:8080/emo-sad.png); }
.emo-happy   { background-image: url(http://localhost:8080/emo-happy.png); }
.emo-neutral { background-image: url(http://localhost:8080/emo-neutral.png); }

.card-two-texts .text .emo {
  width: 9mm;
  margin: 0;
}

.card-two-texts .text .emo.arrow {
  margin: -3.5mm;
}

.voodoo .test {
  position: absolute;
  top: 58%;
  left: 17%;
  transform: translate(-50%, -50%) !important;
  z-index: 3;
  width: 16mm;
  height: 16mm;
}